<h3 class='my-4'>Home Page</h3>

<div class="row g-3">
  <div class="col-6">
  <input id="search-input" class="form-control form-control-lg" type="text" placeholder="Search your favorite Youtuber">
  </div>

  <div class="col-4">
      <button id="home-search-button"  type="submit" class="btn btn-primary col-auto mb-3">Search</button>
  </div>

</div>

<div id="search-results" class="mt-4 mb-4">
    {{!-- Search results will be dynamically populated here --}}
</div>

<div id="search-results">
  {{#each videos}}
    <div class="row mb-4 bg-primary">
      <div class="col-md-2">
        <img src="{{thumbnail}}" alt="{{title}}" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <div class="video-stats">
          <p>Views: {{viewCount}}</p>
          <p>Likes: {{likeCount}}</p>
          <p>Comments: {{commentCount}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<script src="/js/home.js"></script>